<%- include ../header/headerBack.ejs%>
<!-- JS validaciones-->
<script src="../javascripts/libros.js"></script>

<div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <h2>Agregar Libro</h2>

                <div class="container-fluid">
                    <form action="/libros/crearLibro" method="POST" enctype="multipart/form-data">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        Nobre libro
                                        <div class="input-group">
                                            <input type="text" name="nombre" id="nombre" placeholder="Nombre libro" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-keyboard-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Autor
                                        <div class="input-group">
                                                <input type="text" name="autor" id="autor" placeholder="Autor" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-align-justify"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Precio
                                        <div class="input-group">
                                            <input type="text" name="precio" id="precio" placeholder="Precio" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-dollar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        Tecnologia
                                        <div class="input-group">
                                            <input type="text" name="tecnologia" id="tecnologia" placeholder="Tecnología" class="form-control" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-dollar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            Status
                                            <div class="input-group">
                                                <select name="status" id="status" class="form-control">
                                                        <option value="Disponible">Disponible</option>
                                                        <option value="NoDisponible">No disponible</option>
                                                      </select>
                                                <div class="input-group-addon">
                                                    <i class="fa fa-dollar"></i>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    Imagen
                                    <div class="input-group">
                                        <input type="file" class="form-control-file" id="imagen" name="imagen">
                                    </div>
                                </div>
                                <div class="form-group">
                                    Descripcion
                                    
                                    <div class="input-group-addon">
                                        <textarea class="form-control" name="descripcion" id="descripcion" rows="10" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-lg-6">
                                <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20" onClick="if(validarfor()){return true; }else{return false;}">Agregar Libro</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

<%- include ../footer/footerBack.ejs%>