
      <%- include header/headerFront.ejs%>
      <section id="main-slider" class="no-margin">
          <div class="carousel slide">
              <ol class="carousel-indicators">
                  <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#main-slider" data-slide-to="1"></li>
                  <li data-target="#main-slider" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="item active" style="background-image: url(../images/telaitem1.jpg)">
                      <div class="container">
                          <div class="row slide-margin">
                              <div class="col-sm-6">
                                  <div class="carousel-content">
                                      <h2 class="animation animated-item-1">Bienvenido(a) a Telas del Sur. Somos una empresa familiar, fundada en la hermosa ciudad de Mérida Yucatán.</h2>                                
                                  </div>
                              </div>
                              <div class="col-sm-6 hidden-xs animation animated-item-4">
                                  <div class="slider-img">
                                      <img src="../images/trajeitem1.png" class="img-responsive" alt="Traje1Imagen">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!--/.item-->
                  <div class="item" style="background-image: url(../images/telaitem2.jpg)">
                      <div class="container">
                          <div class="row slide-margin">
                              <div class="col-sm-6">
                                  <div class="carousel-content">
                                      <h2 class="animation animated-item-1">Ven a conocer las mejores telas regionales del sureste.</h2>
                                          <h3 class="animation animated-item-2" style="color:white">Ven y conoce las mejores telas del sureste, no te quedes con las ganas de vestir como se debe...</h3>
                                      
                                  </div>
                              </div>
                              <div class="col-sm-6 hidden-xs animation animated-item-4">
                                  <div class="slider-img">
                                      <img src="../images/trajeitem2.png" class="img-responsive" alt="Traje2Imagen">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!--/.item-->
                  <div class="item" style="background-image: url(../images/telaitem3.jpg)">
                      <div class="container">
                          <div class="row slide-margin">
                              <div class="col-sm-6">
                                  <div class="carousel-content">
                                      <h1 class="animation animated-item-1">En Telas del Sur encontrará:</h1>
                                          <h2 class="animation animated-item-2">Toda clase de tejidos, telas, sedas, lanas, bordados, gasas, telas de fantasía, telas de poliéster, telas de algodón, forros, entretelas, un gran surtido de telas para decoración, telas de cortinas, telas de carnaval, telas infantiles, etc.</h2>
                                      
                                  </div>
                              </div>
                              <div class="col-sm-6 hidden-xs animation animated-item-4">
                                  <div class="slider-img">
                                      <img src="../images/trajeitem4.png" class="img-responsive" alt="Traje3Imagen">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!--/.item-->
              </div><!--/.carousel-inner-->
          </div><!--/.carousel-->
          <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
              <i class="fa fa-chevron-left"></i>
          </a>
          <a class="next hidden-xs" href="#main-slider" data-slide="next">
              <i class="fa fa-chevron-right"></i>
          </a>
      </section><!--/#main-slider-->
      <div class="container">
          <div class="center wow fadeInDown">
              <h2>¿Quienes somos?</h2>
              <p class="lead">
                  Somos una empresa mexicana sólida dedicada a la venta de tela y mercería.
      
                  Cumplimos 25 años con un modelo de operación exitoso. Contamos con casi 7,500 colaboradores y muchas historias de éxito en las cuales el factor principal has sido tú.
                  Queremos ser una empresa institucional y moderna, lo cual significa que sea ordenada, disciplinada, con procesos y resultados firmes.
              </p>
          </div>
          <div class="row">
              <div class="features">
                  <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="feature-wrap">
                          <i class="fa fa-usd"></i>
                          <h2>Un Precio más incomparable.</h2>
                          <p>Mejores precios que la competencia en cuanto al mercado textil.</p>
                      </div>
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="feature-wrap">
                          <i class="fa fa-smile-o"></i>
                          <h2>Servicio al cliente.</h2>
                          <p>Nuestra empresa se enfoca en la satisfacción del cliente y atender sus necesidades.</p>
                      </div>
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="feature-wrap">
                          <i class="fa fa-truck"></i>
                          <h2>Mayor proveedor de telas.</h2>
                          <p>Nuestra gran variedad de telas es reconocida que miles de personas nos prefieren.</p>
                      </div>
                  </div><!--/.col-md-4-->
      
                  <div class="col-md-4 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="feature-wrap">
                          <i class="fa fa-star"></i>
                          <h2>Calidad.</h2>
                          <p>Nuestras telas son 100% confiables y con una calidad inigualable. </p>
                      </div>
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="feature-wrap">
                          <i class="fa fa-globe"></i>
                          <h2>Industria Mexicana.</h2>
                          <p>Nuestra empresa es una industria 100% mexicana que apoya a la economía del país y a sus raíces.</p>
                      </div>
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-8 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                      <div class="feature-wrap">
                          <i class="fa fa-users"></i>
                          <h2>Mayor tasa de empleo.</h2>
                          <p>Nuestra empresa genera empleo para varias familias mexicanas y apoya al sector comercial.</p>
                      </div>
                  </div><!--/.col-md-4-->
                  <br />
                  <br />
              </div><!--/.services-->
          </div><!--/.row-->
      </div>
      <br />
      <br />
      <section id="services" class="service-item">
          <div class="container">
              <div class="center wow fadeInDown">
                  <br />
                  <h2>Nuestras Validaciones</h2>
                  <p class="lead"> Conoce el procentaje de validación que contiene nuestra página web <br> TELAS REGIONALES DEL SUR</p>
              </div>
              <div class="row">
                  <a href="https://developers.google.com/speed/pagespeed/insights/">
                      <div class="col-sm-6 col-md-4">
      
                          <div class="media services-wrap wow fadeInDown">
                              <div class="pull-left">
                                  <img class="img-responsive" src="@Url.Content("~/Images")/pagespeed.png" style="width:100px;" alt="PageSpeedImagen">
                              </div>
                              <div class="media-body">
                                  <h3 class="media-heading">PageSpeed Insights</h3>
                                  <p>El porcentaje obtenido es de: 64%</p>
                              </div>
                          </div>
                      </div>
                  </a>
                  <a href="https://www.woorank.com/es/review/telasregionales9c.azurewebsites.net">
                      <div class="col-sm-6 col-md-4">
                          <div class="media services-wrap wow fadeInDown">
                              <div class="pull-left">
                                  <img class="img-responsive" src="@Url.Content("~/Images")/woorank.png" style="width:120px;" alt="WoorankImagen">
                              </div>
                              <div class="media-body">
                                  <h3 class="media-heading">Woorank</h3>
                                  <p>El porcentaje obtenido es de: 61%</p>
                              </div>
                          </div>
                      </div>
                  </a>
                  <a href="https://validator.w3.org/">
                      <div class="col-sm-6 col-md-4">
                          <div class="media services-wrap wow fadeInDown">
                              <div class="pull-left">
                                  <img class="img-responsive" src="@Url.Content("~/Images")/w3cvalidator.jpg" style="width:149px;" alt="w3cImagen">
                              </div>
                              <div class="media-body">
                                  <h3 class="media-heading">W3C Validator</h3>
                                  <p>Sin errores ni advertencias.<p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div><!--/.row-->
          </div><!--/.container-->
      </section><!--/#services-->
      
    <%- include footer/footerFront.ejs%>
