<%- include header/headerFront.ejs%>
<section id="about-us">
    <div class="container" style="margin-top:30px">
        <div class="center wow fadeInDown" >
            <h2>Nuestra Misión</h2>
            <p class="lead">Contribuir a la difusión de la cultura y entretenimiento, creando espacios propicios para el encuentro con el conocimiento. Atendiendo el compromiso moral con nuestro entorno, nuestros colaboradores y accionistas..</p>
        </div>
        <div class="center wow fadeInDown">
            <h2>Nuestra Visión</h2>
            <p class="lead">Consolidar el liderazgo de la marca, accediendo a nuevos mercados y enriqueciendo nuestra oferta cultural hacia el año 2020</p>
        </div>
        <div class="center wow fadeInDown">
            <h2>Nuestros Valores</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="joomla-skill">
                            <p>RESPETO</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="html-skill">
                            <p>AUDACIA</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="css-skill">
                            <p>ACTITUD DE SERVICIO</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
                        <div class="wp-skill">
                            <p>PASIÓN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include footer/footerFront.ejs%>