<%- include header/headerFront.ejs%>
<section id="contact-page">
    <div class="container">
        <div class="center">    
            <br />
            <br />   
            <div class="row">
                    <div class="col-md-5"><img src="../images/logotipo.png" style="width: 300px"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <br>
                        <br>
                            <img src="../images/paypal.png" style="width: 300px">
                    </div>
                  
                </div> 
                <br>
            <br>
            <br>
            <img src="../images/gracias.png" style="width: 350px">
            <br>
            <br>
            <br>
            <p class="lead">Le recordamos que verifique su correo electrónico para acceder al link de descarga</p>
        </div> 
    </div><!--/.container-->
</section><!--/#contact-page-->

<%- include footer/footerFront.ejs%>