<%- include header/headerFront.ejs%>
<section id="contact-page">
    <div class="container">
        <div class="center">    
            <br />
            <br />    
            <h2>Gracias por su compra</h2>
            <p class="lead">Le recordamos que cheque su bandeja para accerder al link de descarga</p>
        </div> 
    </div><!--/.container-->
</section><!--/#contact-page-->





<%- include footer/footerFront.ejs%>