<footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2018 <a href="/">LibrosLocos</a>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">Inicio</a></li>
                        <li><a>Productos</a></li>
                        <li><a>Acerca de...</a></li>
                        <li><a href="/Contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script src="../javascripts/card.js"></script>  
    <script src="../javascripts/js/jquery.js"></script>
    <script src="../javascripts/js/bootstrap.min.js"></script>
    <script src="../javascripts/js/jquery.prettyPhoto.js"></script>
    <script src="../javascripts/js/jquery.isotope.min.js"></script>
    <script src="../javascripts/js/main.js"></script>
    <script src="../javascripts/js/wow.min.js"></script>
    <script src="../javascripts/js/jquery.js"></script>
<script src="../javascripts/js/bootstrap.min.js"></script>
<script src="../javascripts/js/jquery.prettyPhoto.js"></script>
<script src="../javascripts/js/jquery.isotope.min.js"></script>
<script src="../javascripts/js/main.js"></script>
<script src="../javascripts/js/wow.min.js"></script>

<!-- Jquery JS-->
<script src="../stylesheets/Content/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="../stylesheets/Content/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="../stylesheets/Content/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="../stylesheets/Content/vendor/slick/slick.min.js">
</script>
<script src="../stylesheets/Content/vendor/wow/wow.min.js"></script>
<script src="../stylesheets/Content/vendor/animsition/animsition.min.js"></script>
<script src="../stylesheets/Content/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="../stylesheets/Content/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="../stylesheets/Content/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="../stylesheets/Content/vendor/circle-progress/circle-progress.min.js"></script>
<script src="../stylesheets/Content/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../stylesheets/Content/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="../stylesheets/Content/vendor/select2/select2.min.js"></script>   
</body>
</html>